.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-left: 20px;
  margin-bottom: 20px;
}
.tree-products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 100px;
}
.cart-container {
  background-color: lightblue;
}

@media screen and (max-width: 1100) {
  .tree-products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
