.cart {
  position: sticky;
  top: 0;
  padding: 10px 20px;
}
.cart-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.cart-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}

.cart-btn {
  border: none;
  background: none;
  font-size: 30px;
}

.choose-btn {
  width: 70%;
  background: blue;
  color: white;
  margin-bottom: 10px;
}
.choose-btn:hover {
  background-color: red;
  color: black;
}
.choose-btn1 {
  width: 70%;
  background: green;
  color: white;
}
.choose-btn1:hover {
  background-color: red;
  color: black;
}

.choose-btn-text {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .cart-info {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 10px;
  }
  .choose-btn {
    width: 100%;
  }
  .choose-btn1 {
    width: 100%;
  }
}
