.heading-answer {
  font-size: 30px;
  color: blue;
}
.answers-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
}
.ans-container {
  border: 2px solid green;
  padding: 10px;
  margin: 10px;
}

@media screen and (max-width: 480px) {
  .answers-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
